body {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategrey;
}

/*
  This is a CSS Coment
  Shortcut for adding the comment Control * / or Command * /
*/

h1 {
    color:white;
}
p {
    background-color: lightblue;
}