body{
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
}
header,
footer{
    background-color: sandybrown;
}
.site-title{
    color:green;
}
#my-image{
    box-shadow: 0 0 2px 1px black;
}
article>ul{
    list-style-type: square;
}
article>ul li:nth-child(odd){
   background-color: slategrey;
}
nav>ul{
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    background-color: tomato;
    border: 1px solid blue;
}
nav a:hover,
nav a:focus{
    background-color: blueviolet;
}
