*{ 
    margin:0;
    padding:0; 
    list-style-type:none; 
}
body{ 
    font-size:12px;
    font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif; 
    max-width:768px; 
    margin:0 auto;
}
img{
    border:0; 
    max-width:100%;
} 
img{

}
a{ 
    text-decoration:none;
}
a:hover{ 
    text-decoration:none; 
    outline:none;
}
.clear{ 
    clear:both;
}
.wrap{ 
    width:100%; 
    margin:0 auto;
}
.logo{ 
    background:#c68d00;
}
nav{ 
    background:#222222; 
}
nav li{ 
    text-align:center;
}
nav li a{ 
    color:#c68d00; 
}
nav li.act{
    background:#c68d00;  
}
nav li.act a{  
    color:#222222;
}
.about{ 
    background:#ffe6ac;
}
.services .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.marketing .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.video .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.web .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.print .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.team .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.marketing .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
.marketing .box{ 
    background:#ffe6ac; 
    padding:20px 10px;
}
@media (min-width:992px) and (max-width: 1200px) {

}
@media (max-width: 1200px) 
{
    .wrap{ width:100%;}
}
@media (max-width: 992px) 
{ 

} 
@media (max-width: 768px) 
{

}
@media (max-width: 480px){

}