/********************************************
               RESET CSS
 *******************************************/

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 display: block;
 }
 body {
 line-height: 1;
 }
 ol, ul {
 list-style: none;
 }
 blockquote, q {
 quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 content: '';
 content: none;
 }
 table {
 border-collapse: collapse;
 border-spacing: 0;
 }
 a{ text-decoration:none;}
 /*******************************************
                  Custom CSS
 *******************************************/
 *{ margin:0px; padding:0px;}
body {
    margin:0 auto;
    width:90%;
}
.wrap{ 
    max-width:768px; 
    margin:0 auto;
}
img{ 
    display:block; 
    max-width:100%; 
    border:0;
}
main>section{ 
    padding:10px;
}
main>section:first-of-type{ 
    padding:0px;  
    background:#ffe6ac;
}
.about{ 
    padding:10px; 
}
.about .box p{ 
    margin-bottom:20px; 
}
ul,li{ 
    list-style:none;
}
h2{ 
    font-size:40px; 
    line-height:2;
}
h3{ 
    font-size:30px; 
    line-height:1.6;
}
h4{ 
    font-size:20px; 
    line-height:2; 
    border-bottom:1px solid #c78b07; 
    margin-bottom:10px;
}
header{ 
    background:#222222; 
}
.top1{ 
    padding:0px 10px;
}
nav li{ 
    text-align:center;
}
nav li:first-child{ 
    background:#c78b07;
}
nav li.act{ 
    background:#c78b07;
}
nav li.act a{ 
    color:#000; 
}
nav li:first-child img{ 
    display:block;
}
nav li a{ 
    text-decoration:none; 
    line-height:3; 
    color:#c78b07;
}
main>section img{ 
    width:100%;
}
.box{ 
    background:#ffe6ac; 
    padding: 10px; 
    margin-bottom:10px; 
}
.box a{ 
    display:inline-block; 
    background:#222222; 
    text-decoration:none; 
    color:#fff; 
    font-size:14px; 
    line-height:16px; 
    padding:20px; 
    margin-top:10px; 
}
.im{ 
    font-size:16px !important; 
    margin-left:10px;
}
nav li form{ 
    width:100%; 
    position:relative;
}
nav li form input{ 
    width:100%; 
    border:0; 
    padding:5px 0px;
}
nav li form button{ 
    background:#222222; 
    border:1px solid #c78b07; 
    padding:3px; position:absolute; 
    top:0px; 
    right:0px;
}
nav li form button i{ 
    color:#c78b07;
    margin-left: 0px !important; 
}
.vision{ 
    width:100%;
    position:relative;
}
.vision .box{ 
    position:absolute; 
    top:30px; 
    left:0px; 
    background-color:transparent; 
    color:#fff; 
}
.vision img{ 
    height:250px;
}
.contact form input{ 
    width:100%; 
    font-size:24px; 
    padding:3px 0px;
}
#message{ 
    height:170px;
}
.contact form>div{ 
    margin-bottom:10px;
}
.contact .form{ 
    margin-top:10px;
}
.contact form label{ 
    font-size:20px;
}
.contact form button{ 
    border:0; 
    background:#222222; 
    color:#ffe6ac; 
    padding:5px 15px; 
    font-size:24px; 
}
.banner{ 
    width:100%; 
    position:relative;
}
.banner .box{ 
    position:absolute; 
    top:30px; 
    left:0px; 
    background-color:rgba(0,0,0,0.5); 
    color:#fff; 
    padding:30px 0px 20px; 
}
.banner .box h1{ 
    font-size:70px; 
    margin-bottom:30px;
}
.banner .box a{ 
    background:#c78b07; 
    color:#000;
}
.location iframe{ 
    width:100%;
}
footer{ 
    max-width:768px; 
    margin:0 auto; 
    background:#222222; 
    padding:30px 0px 10px;
}
footer p{ 
    color:#c78b07; 
    line-height:3; 
    padding-left:20px; 
}
footer a{ 
    color:#c78b07;
}
.oper table{ 
    width:99%;
    border-collapse: collapse
}
.oper table *{ 
    line-height:3;
}
.oper table thead{ 
    background:#ffe6ac;
}
.oper table td,.oper table th{  
    border:1px solid #000;
} 
.oper{ 
    margin-bottom:10px;
}


@media (max-width: 768px)
{
    .banner .box h1 {
    font-size: 50px; 
}
    
     }
@media (max-width: 480px)
{
    .banner .box h1 {
    font-size: 25px;
        margin-bottom: 10px;
}
    .vision .box { 
    top: 10px; 
}
    .banner .box { 
    top: 10px; 
}
     }

